<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictive Maintenance Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body { font-family: Arial, sans-serif; background-color: #032850fb; color: #ffff }
        .container { width: 80%; margin: auto; }
        .header { text-align: center; margin-bottom: 20px; }
        .form-group { margin-bottom: 15px; }
        label { display: block; margin-bottom: 5px; }
        input, select { width: 100%; padding: 8px; box-sizing: border-box; }
        button { padding: 10px 20px; background-color: #000000; color: #ffffff; border: none; cursor: pointer; }
        button:hover { background-color: #0056b3; }
        .chart { margin-top: 20px; }
        .faulty-component { margin-top: 20px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/static/image.jpeg" alt="Top Image" class="top-image">
            <h1>Predictive Maintenance Dashboard</h1>
        </div>
        <div class="chart">
            <div id="temp_chart"></div>
            <div id="voltage_chart"></div>
            <div id="board_voltage_chart"></div>
        </div>
        <div class="faulty-component">
            Possible Faulty Component/Problem: <span id="faultyComponent">None</span>
            <br>
            Accuracy: <span id="accuracy">0%</span>
        </div>
        <div>
            <button id="submitButton">Submit Repair Information</button>
        </div>
    </div>

    <script>
        var tempLayout = {
            title: 'Probe Temperature',
            xaxis: { 
                title: { 
                    text: 'Time', 
                    standoff: 40 
                },
                tickformat: "%m-%d-%Y %H:%M:%S",
                tickangle: -45,
                automargin: true
            },
            yaxis: { title: 'Probe Temp (' + '&deg;F' + ')' },
            margin: { l: 50, r: 50, b: 100, t: 50, pad: 4 }
        };

        var voltageLayout = {
            title: 'Compressor Voltage',
            xaxis: { 
                title: { 
                    text: 'Time', 
                    standoff: 40 
                },
                tickformat: "%m-%d-%Y %H:%M:%S",
                tickangle: -45,
                automargin: true
            },
            yaxis: { title: 'Voltage (V)' },
            margin: { l: 50, r: 50, b: 100, t: 50, pad: 4 }
        };

        var boardVoltageLayout = {
            title: 'Board Voltage',
            xaxis: { 
                title: { 
                    text: 'Time', 
                    standoff: 40 
                },
                tickformat: "%m-%d-%Y %H:%M:%S",
                tickangle: -45,
                automargin: true
            },
            yaxis: { title: 'Voltage (V)' },
            margin: { l: 50, r: 50, b: 100, t: 50, pad: 4 }
        };

        function updatePlot() {
            $.getJSON('/data', function(data) {
                var trace1 = {
                    x: data.timestamps,
                    y: data.y_temp,
                    mode: 'lines',
                    name: 'Temperature'
                };
                var trace2 = {
                    x: data.temp_anomaly_timestamps,
                    y: data.y_temp_highs,
                    mode: 'markers',
                    name: 'Temp Highs',
                    marker: { color: 'orange' }
                };
                var trace3 = {
                    x: data.sustained_anomaly_timestamps,
                    y: data.y_sustained_anomalies,
                    mode: 'markers',
                    name: 'Sustained Anomalies',
                    marker: { color: 'red' }
                };
                var trace4 = {
                    x: data.timestamps,
                    y: Array(data.timestamps.length).fill(data.temp_threshold),
                    mode: 'lines',
                    name: 'Threshold',
                    line: { color: 'red', dash: 'dash' }
                };
                var dataPlot = [trace1, trace2, trace3, trace4];
                Plotly.newPlot('temp_chart', dataPlot, tempLayout);

                var voltageTrace1 = {
                    x: data.timestamps,
                    y: data.y_voltage,
                    mode: 'lines',
                    name: 'Voltage'
                };
                var voltageTrace2 = {
                    x: data.voltage_anomaly_timestamps,
                    y: data.y_voltage_lows,
                    mode: 'markers',
                    name: 'Voltage Lows',
                    marker: { color: 'orange' }
                };
                var voltageTrace3 = {
                    x: data.timestamps,
                    y: Array(data.timestamps.length).fill(data.voltage_threshold),
                    mode: 'lines',
                    name: 'Threshold',
                    line: { color: 'red', dash: 'dash' }
                }
                var voltageDataPlot = [voltageTrace1, voltageTrace2, voltageTrace3];
                Plotly.newPlot('voltage_chart', voltageDataPlot, voltageLayout);

                var boardVoltageTrace1 = {
                    x: data.timestamps,
                    y: data.y_board_voltage,
                    mode: 'lines',
                    name: 'Voltage'
                };
                var boardVoltageTrace2 = {
                    x: data.voltage_anomaly_timestamps,
                    y: data.y_board_voltage_lows,
                    mode: 'markers',
                    name: 'Voltage Lows',
                    marker: { color: 'orange' }
                };
                var boardVoltageTrace3 = {
                    x: data.timestamps,
                    y: Array(data.timestamps.length).fill(data.board_voltage_threshold),
                    mode: 'lines',
                    name: 'Threshold',
                    line: { color: 'red', dash: 'dash' }
                }
                var boardVoltageDataPlot = [boardVoltageTrace1, boardVoltageTrace2, boardVoltageTrace3];
                Plotly.newPlot('board_voltage_chart', boardVoltageDataPlot, boardVoltageLayout);

                document.getElementById('faultyComponent').innerText = data.faulty_component;
                document.getElementById('accuracy').innerText = data.accuracy + '%';

                if (data.alert1) {
                    alert("High temperatures detected! Notifying customer and providing necessary steps.");
                } else if (data.alert2) {
                    alert("Board voltage low. Resetting system.");
                } else if (data.alert3) {
                    alert("High temperatures sustained. Resetting system and notifying customer.");
                } else if (data.alert4) {
                    alert("Compressor voltage low. Notifying customer. Technician may be needed.");
                }
            });
        }

        $(document).ready(function() {
            setInterval(updatePlot, 500);

            $('#submitButton').on('click', function() {
                window.location.href = '/submit_form';
            });
        });
    </script>
</body>
</html>
